@using MvcKutuphane.Models.Entity
@model  List<TBLHAREKET>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Ödünç Kitap Listesi</h2>

<table class="table table-striped" style="margin-top:20px">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>KİTAP ADI</th>
        <th>ÜYE ADI</th>
        <th>PERSONEL ADI</th>
        <th>KİTAP ALIŞ TARİHİ</th>
        <th>KİTAP İADE TARİHİ</th>
        <th>İADE ET</th>
    </tr>

    @foreach (var hrkt in Model)
    {
        <tr>
            <td>@hrkt.ID</td>
            <td>@hrkt.TBLKITAP.AD</td>
            <td>@hrkt.TBLUYELER.AD @hrkt.TBLUYELER.SOYAD</td>
            <td>@hrkt.TBLPERSONEL.AD @hrkt.TBLPERSONEL.SOYAD</td>
            <td>@Convert.ToDateTime(hrkt.ALISTARIHI).ToString("dd/MM/yyyy")</td><!--Sql den object dönen değeri gün/ay/yıl
                                                                                    formatında yazdırma-->
            <td> @Convert.ToDateTime(hrkt.IADETARIHI).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/OduncDetay/@hrkt.ID" class="btn btn-group" style="background-color: #864000; color: #FFEFCF;">Kitabı İade Et</a></td>
        </tr>
    }
</table>


