@using MvcKutuphane.Models.Entity
@model List<TBLYAZAR>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Yazarlar</h2>

<table class="table table-striped" style="font-size:16px;">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>YAZAR DETAY</th>
        <th>Sil</th>
        <th>GÜNCELLE</th>
        <th>Yazarın Kitapları</th>
    </tr>
    @foreach (var yzr in Model)
    {
        <tr>
            <td>@yzr.ID</td>
            <td>@yzr.AD</td>
            <td>@yzr.SOYAD</td>
            <td>@yzr.DETAY</td>
            <td>
                @Html.ActionLink("Sil", "YazarSil", new { yzr.ID }, new
                {
                    @class = "btn btn-danger",
                onclick = "return confirm('Silmek istediğinize emin misin?')"
                })
            </td>
            <td><a href="/Yazar/YazarDetay/@yzr.ID" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Yazar/YazarKitaplar/@yzr.ID" class="btn btn-default" style="background-color:indianred;color:white;">Yazarın Kitapları</a></td>
        </tr>
    }
</table>
<a href="/Yazar/YazarEkle" class="btn btn-primary">Yazar Ekle</a>