@using MvcKutuphane.Models.Entity
@using PagedList
@using PagedList.Mvc
@model IPagedList<TBLUYELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Üyeler</h2>
@using (Html.BeginForm("Index", "Uye", FormMethod.Get))
{
    <label>Aramak İstediğiniz ismi giriniz:&nbsp; </label>@Html.TextBox("p1")
    <input type="submit" value="Ara" />
}

<table class="table table-striped" style="margin-top:20px">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>ÜYE AD</th>
        <th>ÜYE SOYAD</th>
        <th>OKUL</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>ÜYE GEÇMİŞİ</th>
    </tr>
    @foreach (var uye in Model)
    {
<tr>
    <td>@uye.ID</td>
    <td>@uye.AD</td>
    <td>@uye.SOYAD</td>
    <td>@uye.OKUL</td>
    <td>@Html.ActionLink("Sil", "UyeSil", new { uye.ID }, new { @class = "btn btn-danger", onlick = "return confirm('Silmek istediğinize emin misiniz?')" })</td>
    <td><a href="/Uye/UyeDetay/@uye.ID" class="btn btn-success">Güncelle</a></td>
    <td><a href="/Uye/UyeGecmis/@uye.ID" class="btn btn-default" style="background-color:indianred; color:white;">Kitap Geçmişi</a></td>
</tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))
<a href="/Uye/UyeEkle" class="btn btn-primary">Üye Ekle</a>

