@using MvcKutuphane.Models.Entity
@model  List<TBLDUYURULAR>
@{
    ViewBag.Title = "Duyuru";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
    string renk = ""; // Arka plan renklerini eklemek için tanımlanması gereken değişken
}

<h2>Duyurular</h2>

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>ID</th>
        <th>KATEGORİ</th>
        <th>İÇERİK</th>
        <th>TARİH</th>
    </tr>
    @foreach (var duy in Model)
    {
        <!--Kategori Başlıkları için arka plan renk şartları...-->
        if (duy.KATEGORI == "Yeni Kitap")
        {
            renk = "bg-info text-white";
        }
        else if (duy.KATEGORI == "İletişim Hakkında")
        {
            renk = "bg-success text-white";
        }
        else if (duy.KATEGORI == "Kitapların Gecikmesi Hakkında")
        {
            renk = "bg-danger text-white";
        }
        else
        {
            continue;
        }
        <tr class="@renk">
            <td >@duy.ID</td>
            <td >@duy.KATEGORI</td>
            <td>@duy.ICERIK</td>
            <td>@Convert.ToDateTime(duy.TARIH).ToString("dd/MM/yyyy")</td>
        </tr>
    }


</table>