@using MvcKutuphane.Models.Entity
@model List<TBLHAREKET>
@{
    ViewBag.Title = "Kitap";
    Layout = "~/Views/Shared/LayoutPanel.cshtml";
}

<!DOCTYPE html>

<html>

<body class="hold-transition sidebar-mini">

    <section class="content">

        <div class="container-fluid">

            <div class="row">

                <!-- /.col -->

                <div class="col-md-12">

                    <div class="card">

                        <div class="card-header p-2">

                        </div><!-- /.card-header -->

                        <div class="card-body">

                            @foreach (var ktp in Model)
                            {


                                <div class="tab-pane" id="timeline">

                                    <!-- The timeline -->

                                    <div class="timeline timeline-inverse">

                                        <!-- timeline time label -->

                                        <div class="time-label">

                                            <a class="btn btn-success">

                                                <span class="bg-success">

                                                    @Convert.ToDateTime(ktp.ALISTARIHI).ToString("dd-MMM-yyyy")
                                                </span>

                                            </a>

                                            -----

                                            <a class="btn btn-warning">

                                                <span class="bg-warning">
                                                    @Convert.ToDateTime(ktp.IADETARIHI).ToString("dd-MMM-yyyy")


                                                </span>

                                            </a>

                                        </div>

                                        <!-- /.timeline-label -->
                                        <!-- timeline item -->

                                        <div>

                                            @*<i class="fas fa-comment bg-primary"></i>*@

                                            <div class="timeline-item">

                                                <div class="timeline-body">

                                                    <b>Kitap Adı: </b>@ktp.TBLKITAP.AD <br />
                                                    <b>Yazar Adı: </b >@ktp.TBLKITAP.TBLYAZAR.AD @ktp.TBLKITAP.TBLYAZAR.SOYAD

                                                </div>


                                            </div>

                                        </div>


                                    </div>

                                    @*<a href="/Sertifika/YeniSertifika" class="btn btn-info">Yeni Sertifika Girişi</a>*@

                                </div>
                            }
                        </div>

                    </div><!-- /.card-body -->

                </div>

                <!-- /.nav-tabs-custom -->

            </div>

            <!-- /.col -->

        </div>

    </section>

</body>

</html>

