@using MvcKutuphane.Models.Entity
@model List<TBLPERSONEL>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>

<table class="table table-striped" style="margin-top:20px">
    <tr style="background-color:rgb(252,178,22)">
        <th>ID</th>
        <th>PERSONEL ADI</th>
        <th>PERSONEL SOYADI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
    </tr>
    @foreach (var prs in Model)
    {
        <tr>
            <td>@prs.ID</td>
            <td>@prs.AD</td>
            <td>@prs.SOYAD</td>
            <td>@Html.ActionLink("Sil", "PersonelSil", new { @prs.ID }, new { @class = "btn btn-danger" }) </td>
            <td><a href="/Personel/PersonelDetay/@prs.ID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }

</table>
<a href="/Personel/PersonelEkle" class="btn btn-primary">Personel Ekle</a>

